<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>销售订单</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="../../css/font.css">
		<link rel="stylesheet" href="../../css/xadmin.css">
		<script src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/xadmin.js"></script>
		<!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
	<style>
		.xscz {
			margin-left: 35px;
			width: 150px;
		}
	</style>
	<script type="text/javascript">
		window.onload = function() {
			//去掉默认的contextmenu事件，否则会和右键事件同时出现。
			document.oncontextmenu = function(e) {
				e.preventDefault();
			};
			document.getElementById("xsth").onmousedown = function(e) {
				if(e.button == 2) {
					layui.use('layer', function() {
						var layer = layui.layer;
						layer.open({
							title: '请选择操作',
							type: 0,
							content: '<select class=xscz onblur=xsxzcz(this)><option value=1>新增</option><option value=2>修改</option><option value=3>删除</option><option value=4>审核</option></select>'
							
						});
					});
				}
			}
		}

		function xsxzcz(obj) {
			//alert($(obj).val());
			if($(obj).val() == 1) {
				$("input").prop("disabled", false);
				$("select").prop("disabled", false);
				$("textarea").prop("disabled", false);
			}
			layer.closeAll();
		}
	</script>

	<body>
		<div class="layui-container" id="main-div">
			<div style="border: 1px solid pink;" id="xsth">
				<div class="layui-col-md10 layui-col-md-offset2"></div>
				<div class="layui-row">
					<div class="layui-col-md5 layui-col-md-offset2">
						<span class="layui-col-md3">客户</span>
						<input type="text" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.customerorderId" @dblclick="openCGQGtype();"/>
					</div>
					<div class="layui-col-md5">
						<span class="layui-col-md2">单据日期</span> <input type="date" style="width: 155px;" class="layui-col-md-offset1" disabled="disabled"  v-model="salesorder.soDocumentTime"/>
					</div><br /><br />
					<div class="layui-col-md5 layui-col-md-offset2">
						<span class="layui-col-md3">送货地址</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.soDeliveryAddress"/>
					</div>
					<div class="layui-col-md5">
						<span class="layui-col-md2">单据号码</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.soDocumentnumber"/>
					</div><br /><br />
					<div class="layui-col-md5 layui-col-md-offset2">
						<span class="layui-col-md3">销售订单类型</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.sotId"/>
					</div>
					<div class="layui-col-md5">
						<span class="layui-col-md2">客户订单</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.soCustomerorder"/>
					</div><br /><br />
					<div class="layui-col-md5 layui-col-md-offset2">
						<span class="layui-col-md3">单价是否含税</span>
						<select name="" style="width: 163px;height: 25px;" class=" layui-col-md-offset1 " disabled="disabled" v-model="salesorder.soTax"> 
							<option v-for="item in shuiList" :value="item.value" :key="item.value" name="soTax">
                 				{{item.label}}
                            </option>
						</select>
					</div>
					<div class="layui-col-md5">
						<span class="layui-col-md2">币别</span> <input type="text" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.currencyId"/>
					</div><br /><br />
					<div class="layui-col-md5 layui-col-md-offset2">
						<span class="layui-col-md3">单况</span>
						<select name="" style="width: 163px;height: 25px;" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soOderStatic">
							<option v-for="item in anList" :value="item.value" :key="item.value" name="soOderStatic">
                 				{{item.label}}
                            </option>
							
						</select>
					</div>
					<div class="layui-col-md5">
						<span class="layui-col-md2">汇率</span>
						<select name="" style="width: 163px;height: 25px;" class="layui-col-md-offset1" disabled="disabled">
							<option value="">1.000000</option>
						</select>
					</div><br /><br />

					<div class="layui-tab layui-col-md10 layui-col-md-offset2">
						<ul class="layui-tab-title layui-col-md10 layui-col-md-offset2">
							<li class="layui-this">内容</li>
							<li>账款</li>
							<li>备注</li>

						</ul>
						<div class="layui-tab-content layui-col-md10 layui-col-md-offset2">
							<div class="layui-tab-item layui-show layui-tab-content " style="border: 1px solid; overflow-x: scroll; overflow-y: scroll;">
								<table class="layui-table" border="1" rules="all" style="text-align: center;margin: 0px;">

									<thead>
										<tr style="white-space:nowrap;">
											<th style="white-space: nowrap;">(栏号)</th>
											<th style="white-space: nowrap;">物料编号</th>
											<th style="white-space: nowrap;">(物料名称)</th>
											<th style="white-space: nowrap;">(规格型号)</th>
											<th style="white-space: nowrap;">(单位名称)</th>
											<th style="white-space: nowrap;">数量</th>
											<th style="white-space: nowrap;">折扣前单价</th>
											<th style="white-space: nowrap;">折数(%)</th>
											<th style="white-space: nowrap;">单价</th>
											<th style="white-space: nowrap;">(金额)</th>
											<th style="white-space: nowrap;">税率(%)</th>
											<th style="white-space: nowrap;">(税额)</th>
											<th style="white-space: nowrap;">含税金额</th>
											<th style="white-space: nowrap;">(期初已出数量)</th>
											<th style="white-space: nowrap;color: blue;">预出库日</th>
											<th style="white-space: nowrap;">(未出数量)</th>
											<th style="white-space: nowrap;">赠品</th>
											<th style="white-space: nowrap;">分录备注</th>
											<th style="white-space: nowrap;">(物料组合)</th>
											<th style="white-space: nowrap;">(来源单别)</th>
											<th style="white-space: nowrap;">(来源单号)</th>
											<th style="white-space: nowrap;">生产</th>
											<th style="white-space: nowrap;">(排程单号)</th>
											<th style="white-space: nowrap;">(已生成数量)</th>
										</tr>
									</thead>
									<tbody id="lb">
										<tr v-for="sa,index in salesorder.sodList" style="white-space:nowrap;">
											<td>{{sa.solId}}</td>
											<td>{{sa.matterId}}</td>
											<td>{{sa.solMatName}}</td>
											<td>{{sa.solMatType}}</td>
											<td>{{sa.solNominal}}</td>
											<td>{{sa.solQuantity}}</td>
											<td>{{sa.solPrePrice}}</td>
											<td>{{sa.solFold}}</td>
											<td>{{sa.solPrice}}</td>
											<td>{{sa.solAmount}}</td>
											<td>{{sa.solTaxRate}}</td>
											<td>{{sa.solTax}}</td>
											<td>{{sa.solTaxAmount}}</td>
											<td>{{sa.solGiveaway}}</td>
											<td>{{sa.solJournalizing}}</td>
											<td>{{sa.solMaterialComposition}}</td>
											<td>{{sa.solSingleSource}}</td>
											<td>{{sa.solSingleOder}}</td>
											<td>{{sa.solProduction}}</td>
											<td>{{sa.solSchedulingSingleNumber}}</td>
											<td>{{sa.solProducedQuantity}}</td>
											<td>{{sa.solAuditing}}</td>
											<td>{{sa.solYn}}</td>
											<td>已生成数量</td>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="layui-tab-item layui-col-md12" style="border: 1px solid gray;">

								<div class="layui-col-md12">
									<div class="layui-col-md5 layui-col-md-offset2">
										<span class="layui-col-md3">账款归属</span>
										<input type="text" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soAccountOwnership"/>
									</div>
									<div class="layui-col-md5">
										<span class="layui-col-md3">收款日期</span> <input type="date" style="width: 170px;" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soCollectionTime"/>
									</div><br /><br />
									<div class="layui-col-md5 layui-col-md-offset2">
										<span class="layui-col-md3">收款条件</span>
										<select style="width: 40px; height: 27px;margin-left: 25px;margin-top: -3px;">
											<option>123</option>
										</select>
										<input type="text" class="layui-col-md-offset1" disabled="disabled" style="width: 120px;height: 21px;margin-left: -5px;" />
									</div>
									<div class="layui-col-md5">
										<span class="layui-col-md3">账款月份</span> <input type="date" style="width: 170px;" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soCollectionMonth"/>
									</div><br /><br />
								</div>
							</div>
							<div class="layui-tab-item layui-col-md12" style="border: 1px solid gray;">
								<div class="layui-col-md6">
									<span class="layui-col-md3" style="margin-left: 25px;">自定栏一</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<select name="" style="width: 163px;height: 25px;" class=" layui-col-md-offset1 " disabled="disabled" v-model="salesorder.staffId">
										<option value=""></option>
									</select>
								</div>
								<div class="layui-col-md6">
									<span class="layui-col-md3" style="margin-left: 82px;">自定栏二</span>
									<select name="" style="width: 163px;height: 25px;" class=" layui-col-md-offset1" disabled="disabled" v-model="salesorder.staffId">
										<option value=""></option>
									</select>
								</div><br /><br />
								<div class="layui-col-md12">
									<span class="layui-col-md2" style="margin-left: 25px;">备注</span><textarea style="margin-left: 27px;" disabled="disabled" rows="10" cols="81" ></textarea>
								</div>
							</div>
						</div>
				</div>
						<div class="layui-col-md5 layui-col-md-offset2">
							<span class="layui-col-md3">业务人员</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.staffId"/>
						</div>
						<div class="layui-col-md5">
							<span class="layui-col-md2">制单人员</span><input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.soMonograph"/>
						</div><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
						<div class="layui-col-md5 layui-col-md-offset2" style="padding: 10px 0px 0px 0px;">
							<span class="layui-col-md3">所属部门</span> <input type="text" class="layui-col-md-offset1 " disabled="disabled" v-model="salesorder.teamId"/>
						</div>
						<div class="layui-col-md5"  style="padding: 10px 0px 0px 0px;">
							<span class="layui-col-md2">复核人员</span> <input type="text" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soReviewer"/>
						</div><br/><br/>
						<div class="layui-col-md5 layui-col-md-offset2"  style="padding: 10px 0px 0px 0px;">
							<span class="layui-col-md3">所属项目</span> <input type="text" class="layui-col-md-offset1" disabled="disabled" v-model="salesorder.soSubordinate"/>
						</div>
					<div class="layui-col-md12"style="padding: 20px 0px 0px 0px;">
						<select style="width: 100px;height: 25px; background: #1E9FFF;" class="layui-col-md2 layui-col-md-offset2 " disabled="disabled" >
							<option>转单</option>
						</select>
						<select style="width: 100px;height: 25px; background: #1E9FFF;" class="layui-col-md2 " disabled="disabled">
							<option>查询</option>
						</select>
						<select style="width: 100px;height: 25px; background: #1E9FFF;" class="layui-col-md2" disabled="disabled">
							<option>功能</option>
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<!--<script>
			layui.use('element', function() {
				var element = layui.element;
			});
		</script>-->
		<script src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../lib/layui/layui.js" charset="utf-8"></script>
		<script type="text/javascript" src="../../js/xadmin.js"></script>
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/axios.min.js"></script>
		<script>
			//必须设置允许跨域访问session中数据(cooike)
			axios.default.withCredentials = true;
			
			var state = "";
			
			function subpageTriggerEvent(incident){
				//alert("部门设定页 - 触发事件：" + incident);
				
				if(incident == "goFirstPage"){
					listVm.goFirstPage();
				} else if(incident == "goPrePage"){
					listVm.goPrePage();
				} else if(incident == "goNextPage"){
					listVm.goNextPage();
				} else if(incident == "goLastPage"){
					listVm.goLastPage();
				} else if(incident == "goInsert"){
					listVm.goInsert();
				} else if(incident == "save"){
					listVm.save();
				} else if(incident == "cancel"){
					listVm.cancel();
				} else if(incident == "goUpdate"){
					listVm.goUpdate();
				} else if(incident == "delete"){
					listVm.delete_();
				} else if(incident == "refresh"){
					listVm.refresh();
				}
				
				state = incident;
			}
			
			//创建Vue对象
			var listVm=new Vue({
				el:"#main-div",
				data:{
					pagelist:{},
					salesorder:{
						pageNum : 1
					},
					salelist:[],
					state:"",
     				shuiList: [
                        {value: '0',label: '含税'},
                        {value: '1',label: '未税'}
                    ],
                    anList: [
                        {value: '1',label: '未结案'},
                        {value: '2',label: '已结案'},
                        {value: '0',label: '无效'}
                    ]
				},
				methods:{
					queryDateToId: function(psDocumentDate) {
						var this_ = this;

						$.ajax({
							type : "get",
							async : false,
							url : "http://localhost:8080/SoftwareFactoryProject_/saleorder/queryDateToId?psDocumentDate=" + psDocumentDate,
            				dataType : "json",
							success : function(result) {
								//alert(result);
			                    this_.salesorder.soDocumentnumber = result;
							}
						});
					},
					timeCycle : function(date){
						//var d = new Date('Thu May 12 2016 08:00:00 GMT+0800 (中国标准时间)');
						//var datetime=d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds()
						var d = new Date(date);
						var yue = "",day = "";
						if(d.getMonth() < 9) {
							yue = "0" + (d.getMonth()+1);
						} else {
							yue = d.getMonth()+1;
						}
						if(d.getDate() < 10) {
							day = "0" + d.getDate();
						} else {
							day = d.getDate();
						}
						return d.getFullYear() + "-" + yue + "-" + day;
					},
					queryPage: function(pageNum_){
						$("input").prop("disabled", true);
						$("select").prop("disabled", true);
						$("textarea").prop("disabled", true);
						$("tbody td").prop("contentEditable", false);
						var this_ = this;
						
						this_.salesorder.pageNum = pageNum_;
						alert(this_.salesorder.pageNum);
					
						axios.post(`http://localhost:8080/SoftwareFactoryProject_/saleorder/PageQueryAll`, this.salesorder).then(function(res){
							//数据正常
							alert(JSON.stringify(res.data));
							this_.pagelist = res.data;
							//日期转换
							this_.pagelist.list[0].soDocumentTime = this_.timeCycle(this_.pagelist.list[0].soDocumentTime);
							this_.pagelist.list[0].soCollectionMonth=this_.timeCycle(this_.pagelist.list[0].soCollectionMonth);
							this_.salesorder = this_.pagelist.list[0];
						});
					},
					goFirstPage : function(){
		   				this.queryPage(1);
		   			},
		   			goPrePage : function(){
		   				if(this.pagelist.hasPreviousPage)
		      				this.queryPage(this.pagelist.prePage);
		   			},
		   			goNextPage : function(){
		   				if(this.pagelist.hasNextPage)
		      				this.queryPage(this.pagelist.nextPage);
		   			},
		   			goLastPage : function(){
		   				this.queryPage(this.pagelist.pages);
		   			},
		   			goInsert : function(){
						$("input").prop("disabled", false);
						$("select").prop("disabled", false);
						$("textarea").prop("disabled", false);
						$("tbody td").prop("contentEditable", true);
						this.state = "goInsert";
						this.hanlderEmpty(this.salesorder);		//清空属性	这里将sodList=“”，意为变成了一个普通属性，非集合，当属性还在，传到后台引发405报错，数据类型不对应
						
						//1.单据日期
						var now = new Date();
						this.salesorder.soDocumentTime = this.timeCycle(now);
						//2.单据编码	
						this.queryDateToId(this.salesorder.soDocumentTime);
						
						this.salesorder.sodList = [];		//改回集合
						this.salesorder.soTax = 1;	//未税
						this.salesorder.soOderStatic = 1; //未结案
						
						this.salesorder.soCollectionMonth = this.timeCycle(now);//账款月份
						this.salesorder.currencyId="RMB人民币";//币别
						this.salesorder.soMonograph="admin";//制单人员
						
						//11.详表第一条
						this.salesorder.sodList = [
				 			{
				 				solId : 1,
				 				matterId: 2,
				 				solMatName: '',
				 				solMatType: '',
				 				solNominal: '',
				 				solQuantity: '',
				 				solPrePrice: 0,
				 				solFold: 0.00,
				 				solPrice: '100.00',
				 				solAmount: 0.00,
				 				solTaxRate: 0.00,
				 				solTax: 0.00,
  			 				    solTaxAmount: 0.00,
				 				solGiveaway: 0.00,
				 				solJournalizing: '',
				 				solMaterialComposition: 0,
				 				solSingleSource: 0,
				 				solSingleOder: 0,
				 				solProduction: '',
				 				solSchedulingSingleNumber: '',
				 				solProducedQuantity: '',
				 				solAuditing: 0.00,
				 				solYn:'已生成数量'
				 			}
				 		];
					},
					hanlderEmpty : function(obj){
						for(var o in obj){
							obj[o] = "";
						}
					},
					save : function(){
						//alert("执行" + this.state + "操作！");
						var this_ = this;
						this.salesorder.flag = this.state;
						
						axios.put(`http://localhost:8080/SoftwareFactoryProject_/saleorder/insertOrUpdateCD`, this.salesorder).then(function(res){
							//数据正常		/alert(JSON.stringify(res));
							if(res.data.code == "1"){
		   						this_.queryPage((this_.pagelist.pages+1));
								return false;
							} else if(res.data.code == "2"){
								$("input").prop("disabled", true);
								$("select").prop("disabled", true);
								$("textarea").prop("disabled", true);
								$("tbody td").prop("contentEditable", false);
								return false;
							}
							alert("非常遗憾，本次" + res.data.message);
						});
					},
					cancel : function(){
						if(this.state == "goInsert"){
			   				if(confirm("确定取消本次新增操作吗！？"))
								this.queryPage(1);
						} else if(this.state == "goUpdate"){
			   				if(confirm("确定取消本次修改操作吗！？"))
		   						this.queryPage(this.pagelist.pages);
						}
						
					},
					goUpdate : function(){
								$("input").prop("disabled", false);
								$("select").prop("disabled", false);
								$("textarea").prop("disabled", false);
								$("tbody td").prop("contentEditable", true);
						this.state = "goUpdate";
					},
					openCGQGtype : function(){
				 		layui.use('layer', function() { 	//独立版的layer无需执行这一句
							var $ = layui.jquery,
								layer = layui.layer; 		//独立版的layer无需执行这一句
							
							layer.open({	//具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
								title: ["单选--供应商主文件设定", 'font-size:18px;'],
								type: 2,
								area: ['600px', '460px'],
								offset: "auto" ,			//offset - 坐标:auto默认坐标，即垂直水平居中
								id: 'layerDemo' + "auto",	//防止重复弹出
								content: "customerorder_cz.html",
								btn: '关闭',
								btnAlign: 'c',			//按钮居中
								shade: 0.5, 			//不显示遮罩
								success: function(layero, index){
								    var body = layer.getChildFrame('body', index);
								    //body.find('input').val('Hi，我是从父页来的');
								    //得到iframe页的窗口对象，执行iframe页的方法：iframeWin.method();
								    //var iframeWin = window[layero.find('iframe')[0]['name']]; 
								    //console.log(body.html()) 	//得到iframe页的body内容
								    body.find('#index').val(index);
								}
							});
						});
				 },
					delete_ : function(){
		   				if(!confirm("确定删除本条仓库数据吗？"))
		   					return false;
		   				
						var this_ = this;
		   				//数据无误			/	alert("参数：" + this.department.departid);
		   				axios.delete(`http://localhost:8080/SoftwareFactoryProject_/saleorder/deleteById/` + this.salesorder.soId).then(function(res){
							//数据正常		/alert(JSON.stringify(res));
							if(res.data.code == "1"){
								this_.queryPage(1);
								return false;
							}
							alert("非常遗憾，本次" + res.data.message);
						});
					},
					refresh : function(){
						this.queryPage(1);
					}
				},
				mounted : function(){
					this.queryPage(1);
					
					
				}
			});
		</script>
	</body>

</html>