<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.factory.mapper.AllocationPrimaryBillMapper" >
  <resultMap id="BaseResultMap" type="com.factory.entity.AllocationPrimaryBill" >
    <id column="apbid" property="apbid" jdbcType="VARCHAR" />
    <result column="apbDate" property="apbdate" jdbcType="DATE" />
    <result column="foldWarehouseid" property="foldwarehouseid" jdbcType="VARCHAR" />
    <result column="exportWarehouseid" property="exportwarehouseid" jdbcType="VARCHAR" />
    <result column="documentMaker" property="documentmaker" jdbcType="VARCHAR" />
    <result column="Verifier" property="verifier" jdbcType="VARCHAR" />
    <result column="custom1" property="custom1" jdbcType="VARCHAR" />
    <result column="custom2" property="custom2" jdbcType="VARCHAR" />
    <result column="examineType" property="examinetype" jdbcType="VARCHAR" />
    <result column="delType" property="deltype" jdbcType="VARCHAR" />
    <result column="standby" property="standby" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.factory.entity.AllocationPrimaryBill" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    apbid, apbDate, foldWarehouseid, exportWarehouseid, documentMaker, Verifier, custom1, 
    custom2, examineType, delType, standby
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.factory.entity.AllocationPrimaryBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from allocation_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.factory.entity.AllocationPrimaryBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from allocation_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from allocation_primary_bill
    where apbid = #{apbid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from allocation_primary_bill
    where apbid = #{apbid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.factory.entity.AllocationPrimaryBillExample" >
    delete from allocation_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.factory.entity.AllocationPrimaryBill" >
    insert into allocation_primary_bill (apbid, apbDate, foldWarehouseid, 
      exportWarehouseid, documentMaker, Verifier, 
      custom1, custom2, examineType, 
      delType, standby, remark
      )
    values (#{apbid,jdbcType=VARCHAR}, #{apbdate,jdbcType=DATE}, #{foldwarehouseid,jdbcType=VARCHAR}, 
      #{exportwarehouseid,jdbcType=VARCHAR}, #{documentmaker,jdbcType=VARCHAR}, #{verifier,jdbcType=VARCHAR}, 
      #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR}, #{examinetype,jdbcType=VARCHAR}, 
      #{deltype,jdbcType=VARCHAR}, #{standby,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.factory.entity.AllocationPrimaryBill" >
    insert into allocation_primary_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="apbid != null" >
        apbid,
      </if>
      <if test="apbdate != null" >
        apbDate,
      </if>
      <if test="foldwarehouseid != null" >
        foldWarehouseid,
      </if>
      <if test="exportwarehouseid != null" >
        exportWarehouseid,
      </if>
      <if test="documentmaker != null" >
        documentMaker,
      </if>
      <if test="verifier != null" >
        Verifier,
      </if>
      <if test="custom1 != null" >
        custom1,
      </if>
      <if test="custom2 != null" >
        custom2,
      </if>
      <if test="examinetype != null" >
        examineType,
      </if>
      <if test="deltype != null" >
        delType,
      </if>
      <if test="standby != null" >
        standby,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="apbid != null" >
        #{apbid,jdbcType=VARCHAR},
      </if>
      <if test="apbdate != null" >
        #{apbdate,jdbcType=DATE},
      </if>
      <if test="foldwarehouseid != null" >
        #{foldwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="exportwarehouseid != null" >
        #{exportwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="documentmaker != null" >
        #{documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="verifier != null" >
        #{verifier,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="examinetype != null" >
        #{examinetype,jdbcType=VARCHAR},
      </if>
      <if test="deltype != null" >
        #{deltype,jdbcType=VARCHAR},
      </if>
      <if test="standby != null" >
        #{standby,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.factory.entity.AllocationPrimaryBillExample" resultType="java.lang.Integer" >
    select count(*) from allocation_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update allocation_primary_bill
    <set >
      <if test="record.apbid != null" >
        apbid = #{record.apbid,jdbcType=VARCHAR},
      </if>
      <if test="record.apbdate != null" >
        apbDate = #{record.apbdate,jdbcType=DATE},
      </if>
      <if test="record.foldwarehouseid != null" >
        foldWarehouseid = #{record.foldwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="record.exportwarehouseid != null" >
        exportWarehouseid = #{record.exportwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="record.documentmaker != null" >
        documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="record.verifier != null" >
        Verifier = #{record.verifier,jdbcType=VARCHAR},
      </if>
      <if test="record.custom1 != null" >
        custom1 = #{record.custom1,jdbcType=VARCHAR},
      </if>
      <if test="record.custom2 != null" >
        custom2 = #{record.custom2,jdbcType=VARCHAR},
      </if>
      <if test="record.examinetype != null" >
        examineType = #{record.examinetype,jdbcType=VARCHAR},
      </if>
      <if test="record.deltype != null" >
        delType = #{record.deltype,jdbcType=VARCHAR},
      </if>
      <if test="record.standby != null" >
        standby = #{record.standby,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update allocation_primary_bill
    set apbid = #{record.apbid,jdbcType=VARCHAR},
      apbDate = #{record.apbdate,jdbcType=DATE},
      foldWarehouseid = #{record.foldwarehouseid,jdbcType=VARCHAR},
      exportWarehouseid = #{record.exportwarehouseid,jdbcType=VARCHAR},
      documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      Verifier = #{record.verifier,jdbcType=VARCHAR},
      custom1 = #{record.custom1,jdbcType=VARCHAR},
      custom2 = #{record.custom2,jdbcType=VARCHAR},
      examineType = #{record.examinetype,jdbcType=VARCHAR},
      delType = #{record.deltype,jdbcType=VARCHAR},
      standby = #{record.standby,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update allocation_primary_bill
    set apbid = #{record.apbid,jdbcType=VARCHAR},
      apbDate = #{record.apbdate,jdbcType=DATE},
      foldWarehouseid = #{record.foldwarehouseid,jdbcType=VARCHAR},
      exportWarehouseid = #{record.exportwarehouseid,jdbcType=VARCHAR},
      documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      Verifier = #{record.verifier,jdbcType=VARCHAR},
      custom1 = #{record.custom1,jdbcType=VARCHAR},
      custom2 = #{record.custom2,jdbcType=VARCHAR},
      examineType = #{record.examinetype,jdbcType=VARCHAR},
      delType = #{record.deltype,jdbcType=VARCHAR},
      standby = #{record.standby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.factory.entity.AllocationPrimaryBill" >
    update allocation_primary_bill
    <set >
      <if test="apbdate != null" >
        apbDate = #{apbdate,jdbcType=DATE},
      </if>
      <if test="foldwarehouseid != null" >
        foldWarehouseid = #{foldwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="exportwarehouseid != null" >
        exportWarehouseid = #{exportwarehouseid,jdbcType=VARCHAR},
      </if>
      <if test="documentmaker != null" >
        documentMaker = #{documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="verifier != null" >
        Verifier = #{verifier,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        custom1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        custom2 = #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="examinetype != null" >
        examineType = #{examinetype,jdbcType=VARCHAR},
      </if>
      <if test="deltype != null" >
        delType = #{deltype,jdbcType=VARCHAR},
      </if>
      <if test="standby != null" >
        standby = #{standby,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where apbid = #{apbid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.factory.entity.AllocationPrimaryBill" >
    update allocation_primary_bill
    set apbDate = #{apbdate,jdbcType=DATE},
      foldWarehouseid = #{foldwarehouseid,jdbcType=VARCHAR},
      exportWarehouseid = #{exportwarehouseid,jdbcType=VARCHAR},
      documentMaker = #{documentmaker,jdbcType=VARCHAR},
      Verifier = #{verifier,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR},
      examineType = #{examinetype,jdbcType=VARCHAR},
      delType = #{deltype,jdbcType=VARCHAR},
      standby = #{standby,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where apbid = #{apbid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.factory.entity.AllocationPrimaryBill" >
    update allocation_primary_bill
    set apbDate = #{apbdate,jdbcType=DATE},
      foldWarehouseid = #{foldwarehouseid,jdbcType=VARCHAR},
      exportWarehouseid = #{exportwarehouseid,jdbcType=VARCHAR},
      documentMaker = #{documentmaker,jdbcType=VARCHAR},
      Verifier = #{verifier,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR},
      examineType = #{examinetype,jdbcType=VARCHAR},
      delType = #{deltype,jdbcType=VARCHAR},
      standby = #{standby,jdbcType=VARCHAR}
    where apbid = #{apbid,jdbcType=VARCHAR}
  </update>
  
  <resultMap type="com.factory.entity.Hyw_AllocationPrimaryAndSchedule" id="ListAllocatoinMap">
  	<id column="apbid" property="apbid" jdbcType="VARCHAR" />
    <result column="apbDate" property="apbdate" jdbcType="DATE" />
    <result column="foldWarehouseid" property="foldwarehouseid" jdbcType="VARCHAR" />
    <result column="exportWarehouseid" property="exportwarehouseid" jdbcType="VARCHAR" />
    <result column="documentMaker" property="documentmaker" jdbcType="VARCHAR" />
    <result column="Verifier" property="verifier" jdbcType="VARCHAR" />
    <result column="custom1" property="custom1" jdbcType="VARCHAR" />
    <result column="custom2" property="custom2" jdbcType="VARCHAR" />
    <result column="examineType" property="examinetype" jdbcType="VARCHAR" />
    <result column="delType" property="deltype" jdbcType="VARCHAR" />
    <result column="standby" property="standby" jdbcType="VARCHAR" />
    
    <collection property="list" column="apbid" ofType="com.factory.entity.AllocationScheduleBill">
    	<id column="asbid" property="asbid" jdbcType="INTEGER" />
	    <result column="apbid" property="apbid" jdbcType="VARCHAR" />
	    <result column="stockNumber" property="stocknumber" jdbcType="VARCHAR" />
	    <result column="amout" property="amout" jdbcType="VARCHAR" />
	    <result column="standby" property="standby" jdbcType="VARCHAR" />
    </collection>
  </resultMap>
  
  <insert id="Hyw_insert_allocation" parameterType="com.factory.entity.Hyw_AllocationPrimaryAndSchedule">
  	insert into allocation_primary_bill (apbid, apbDate, foldWarehouseid, 
      exportWarehouseid, documentMaker, Verifier, 
      custom1, custom2, examineType, 
      delType, standby, remark
      )
    values (#{apbid,jdbcType=VARCHAR}, #{apbdate,jdbcType=DATE}, #{foldwarehouseid,jdbcType=VARCHAR}, 
      #{exportwarehouseid,jdbcType=VARCHAR}, #{documentmaker,jdbcType=VARCHAR}, #{verifier,jdbcType=VARCHAR}, 
      #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR}, #{examinetype,jdbcType=VARCHAR}, 
      #{deltype,jdbcType=VARCHAR}, #{standby,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      );
      
      insert into allocation_schedule_bill values 
      <foreach collection="list" item="detail" separator=",">
      	(#{detail.asbid,jdbcType=INTEGER}, #{detail.apbid,jdbcType=VARCHAR}, #{detail.stocknumber,jdbcType=VARCHAR}, 
      #{detail.amout,jdbcType=VARCHAR}, #{detail.standby,jdbcType=VARCHAR}, #{detail.remark,jdbcType=LONGVARCHAR})
      </foreach>
  </insert>
  
  <delete id="Hyw_delete_allocation" parameterType="com.factory.entity.Hyw_AllocationPrimaryAndSchedule">
  	delete from allocation_primary_bill where apbid = #{0};
  	delete from allocation_schedule_bill where apbid = #{0};
  </delete>
  
  <update id="Hyw_update_allocation" parameterType="com.factory.entity.Hyw_AllocationPrimaryAndSchedule">
  	update allocation_primary_bill
    set apbDate = #{apbdate,jdbcType=DATE},
      foldWarehouseid = #{foldwarehouseid,jdbcType=VARCHAR},
      exportWarehouseid = #{exportwarehouseid,jdbcType=VARCHAR},
      documentMaker = #{documentmaker,jdbcType=VARCHAR},
      Verifier = #{verifier,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR},
      examineType = #{examinetype,jdbcType=VARCHAR},
      delType = #{deltype,jdbcType=VARCHAR},
      standby = #{standby,jdbcType=VARCHAR}
    where apbid = #{apbid,jdbcType=VARCHAR};
  
  	delete from allocation_schedule_bill where apbid = #{apbid};
  	
  	insert into allocation_schedule_bill values 
      <foreach collection="list" item="detail" separator=",">
      	(#{detail.asbid,jdbcType=INTEGER}, #{detail.apbid,jdbcType=VARCHAR}, #{detail.stocknumber,jdbcType=VARCHAR}, 
      #{detail.amout,jdbcType=VARCHAR}, #{detail.standby,jdbcType=VARCHAR}, #{detail.remark,jdbcType=LONGVARCHAR})
      </foreach>
  </update>
  
  <select id="Hyw_select_allocation" resultMap="ListAllocatoinMap">
  	select a.*,b.* from allocation_primary_bill a left join allocation_schedule_bill b on (a.apbid = b.apbid)
  </select>
  
  <select id="Hyw_select_allocationByApbid" parameterType="String" resultMap="ListAllocatoinMap">
  	select a.*,b.* from allocation_primary_bill a left join allocation_schedule_bill b on (a.apbid = b.apbid) where a.apbid = #{0}
  </select>
</mapper>