<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.factory.mapper.APositionMapper" >
  <resultMap id="BaseResultMap" type="com.factory.entity.APosition" >
    <id column="pos_id" property="posId" jdbcType="INTEGER" />
    <result column="pos_name" property="posName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="listRolesByRoleIds" parameterType="java.util.List" resultMap="BaseResultMap">
 	SELECT * 
	FROM `a_position` r 
	WHERE r.pos_id IN
    <foreach item="it" collection="list" index="index" open="(" separator="," close=")">#{it}</foreach>
  </select>
  
  
  
  
  
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pos_id, pos_name, description
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.factory.entity.APositionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from a_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from a_position
    where pos_id = #{posId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from a_position
    where pos_id = #{posId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.factory.entity.APositionExample" >
    delete from a_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.factory.entity.APosition" >
    insert into a_position (pos_id, pos_name, description
      )
    values (#{posId,jdbcType=INTEGER}, #{posName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.factory.entity.APosition" >
    insert into a_position
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="posId != null" >
        pos_id,
      </if>
      <if test="posName != null" >
        pos_name,
      </if>
      <if test="description != null" >
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="posId != null" >
        #{posId,jdbcType=INTEGER},
      </if>
      <if test="posName != null" >
        #{posName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.factory.entity.APositionExample" resultType="java.lang.Integer" >
    select count(*) from a_position
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update a_position
    <set >
      <if test="record.posId != null" >
        pos_id = #{record.posId,jdbcType=INTEGER},
      </if>
      <if test="record.posName != null" >
        pos_name = #{record.posName,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update a_position
    set pos_id = #{record.posId,jdbcType=INTEGER},
      pos_name = #{record.posName,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.factory.entity.APosition" >
    update a_position
    <set >
      <if test="posName != null" >
        pos_name = #{posName,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where pos_id = #{posId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.factory.entity.APosition" >
    update a_position
    set pos_name = #{posName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR}
    where pos_id = #{posId,jdbcType=INTEGER}
  </update>
</mapper>