<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.factory.mapper.BlitemPrimaryBillMapper" >
  <resultMap id="BaseResultMap" type="com.factory.entity.BlitemPrimaryBill" >
    <id column="bpbid" property="bpbid" jdbcType="VARCHAR" />
    <result column="bpbDate" property="bpbdate" jdbcType="DATE" />
    <result column="warehouseid" property="warehouseid" jdbcType="VARCHAR" />
    <result column="inventoryChecker" property="inventorychecker" jdbcType="VARCHAR" />
    <result column="documentMaker" property="documentmaker" jdbcType="VARCHAR" />
    <result column="verifier" property="verifier" jdbcType="VARCHAR" />
    <result column="custom1" property="custom1" jdbcType="VARCHAR" />
    <result column="custom2" property="custom2" jdbcType="VARCHAR" />
    <result column="examineType" property="examinetype" jdbcType="VARCHAR" />
    <result column="delType" property="deltype" jdbcType="VARCHAR" />
    <result column="standby" property="standby" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.factory.entity.BlitemPrimaryBill" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    bpbid, bpbDate, warehouseid, inventoryChecker, documentMaker, verifier, custom1, 
    custom2, examineType, delType, standby
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.factory.entity.BlitemPrimaryBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blitem_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.factory.entity.BlitemPrimaryBillExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from blitem_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from blitem_primary_bill
    where bpbid = #{bpbid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from blitem_primary_bill
    where bpbid = #{bpbid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.factory.entity.BlitemPrimaryBillExample" >
    delete from blitem_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.factory.entity.BlitemPrimaryBill" >
    insert into blitem_primary_bill (bpbid, bpbDate, warehouseid, 
      inventoryChecker, documentMaker, verifier, 
      custom1, custom2, examineType, 
      delType, standby, remark
      )
    values (#{bpbid,jdbcType=VARCHAR}, #{bpbdate,jdbcType=DATE}, #{warehouseid,jdbcType=VARCHAR}, 
      #{inventorychecker,jdbcType=VARCHAR}, #{documentmaker,jdbcType=VARCHAR}, #{verifier,jdbcType=VARCHAR}, 
      #{custom1,jdbcType=VARCHAR}, #{custom2,jdbcType=VARCHAR}, #{examinetype,jdbcType=VARCHAR}, 
      #{deltype,jdbcType=VARCHAR}, #{standby,jdbcType=VARCHAR}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.factory.entity.BlitemPrimaryBill" >
    insert into blitem_primary_bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="bpbid != null" >
        bpbid,
      </if>
      <if test="bpbdate != null" >
        bpbDate,
      </if>
      <if test="warehouseid != null" >
        warehouseid,
      </if>
      <if test="inventorychecker != null" >
        inventoryChecker,
      </if>
      <if test="documentmaker != null" >
        documentMaker,
      </if>
      <if test="verifier != null" >
        verifier,
      </if>
      <if test="custom1 != null" >
        custom1,
      </if>
      <if test="custom2 != null" >
        custom2,
      </if>
      <if test="examinetype != null" >
        examineType,
      </if>
      <if test="deltype != null" >
        delType,
      </if>
      <if test="standby != null" >
        standby,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="bpbid != null" >
        #{bpbid,jdbcType=VARCHAR},
      </if>
      <if test="bpbdate != null" >
        #{bpbdate,jdbcType=DATE},
      </if>
      <if test="warehouseid != null" >
        #{warehouseid,jdbcType=VARCHAR},
      </if>
      <if test="inventorychecker != null" >
        #{inventorychecker,jdbcType=VARCHAR},
      </if>
      <if test="documentmaker != null" >
        #{documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="verifier != null" >
        #{verifier,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="examinetype != null" >
        #{examinetype,jdbcType=VARCHAR},
      </if>
      <if test="deltype != null" >
        #{deltype,jdbcType=VARCHAR},
      </if>
      <if test="standby != null" >
        #{standby,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.factory.entity.BlitemPrimaryBillExample" resultType="java.lang.Integer" >
    select count(*) from blitem_primary_bill
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update blitem_primary_bill
    <set >
      <if test="record.bpbid != null" >
        bpbid = #{record.bpbid,jdbcType=VARCHAR},
      </if>
      <if test="record.bpbdate != null" >
        bpbDate = #{record.bpbdate,jdbcType=DATE},
      </if>
      <if test="record.warehouseid != null" >
        warehouseid = #{record.warehouseid,jdbcType=VARCHAR},
      </if>
      <if test="record.inventorychecker != null" >
        inventoryChecker = #{record.inventorychecker,jdbcType=VARCHAR},
      </if>
      <if test="record.documentmaker != null" >
        documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="record.verifier != null" >
        verifier = #{record.verifier,jdbcType=VARCHAR},
      </if>
      <if test="record.custom1 != null" >
        custom1 = #{record.custom1,jdbcType=VARCHAR},
      </if>
      <if test="record.custom2 != null" >
        custom2 = #{record.custom2,jdbcType=VARCHAR},
      </if>
      <if test="record.examinetype != null" >
        examineType = #{record.examinetype,jdbcType=VARCHAR},
      </if>
      <if test="record.deltype != null" >
        delType = #{record.deltype,jdbcType=VARCHAR},
      </if>
      <if test="record.standby != null" >
        standby = #{record.standby,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update blitem_primary_bill
    set bpbid = #{record.bpbid,jdbcType=VARCHAR},
      bpbDate = #{record.bpbdate,jdbcType=DATE},
      warehouseid = #{record.warehouseid,jdbcType=VARCHAR},
      inventoryChecker = #{record.inventorychecker,jdbcType=VARCHAR},
      documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      verifier = #{record.verifier,jdbcType=VARCHAR},
      custom1 = #{record.custom1,jdbcType=VARCHAR},
      custom2 = #{record.custom2,jdbcType=VARCHAR},
      examineType = #{record.examinetype,jdbcType=VARCHAR},
      delType = #{record.deltype,jdbcType=VARCHAR},
      standby = #{record.standby,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update blitem_primary_bill
    set bpbid = #{record.bpbid,jdbcType=VARCHAR},
      bpbDate = #{record.bpbdate,jdbcType=DATE},
      warehouseid = #{record.warehouseid,jdbcType=VARCHAR},
      inventoryChecker = #{record.inventorychecker,jdbcType=VARCHAR},
      documentMaker = #{record.documentmaker,jdbcType=VARCHAR},
      verifier = #{record.verifier,jdbcType=VARCHAR},
      custom1 = #{record.custom1,jdbcType=VARCHAR},
      custom2 = #{record.custom2,jdbcType=VARCHAR},
      examineType = #{record.examinetype,jdbcType=VARCHAR},
      delType = #{record.deltype,jdbcType=VARCHAR},
      standby = #{record.standby,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.factory.entity.BlitemPrimaryBill" >
    update blitem_primary_bill
    <set >
      <if test="bpbdate != null" >
        bpbDate = #{bpbdate,jdbcType=DATE},
      </if>
      <if test="warehouseid != null" >
        warehouseid = #{warehouseid,jdbcType=VARCHAR},
      </if>
      <if test="inventorychecker != null" >
        inventoryChecker = #{inventorychecker,jdbcType=VARCHAR},
      </if>
      <if test="documentmaker != null" >
        documentMaker = #{documentmaker,jdbcType=VARCHAR},
      </if>
      <if test="verifier != null" >
        verifier = #{verifier,jdbcType=VARCHAR},
      </if>
      <if test="custom1 != null" >
        custom1 = #{custom1,jdbcType=VARCHAR},
      </if>
      <if test="custom2 != null" >
        custom2 = #{custom2,jdbcType=VARCHAR},
      </if>
      <if test="examinetype != null" >
        examineType = #{examinetype,jdbcType=VARCHAR},
      </if>
      <if test="deltype != null" >
        delType = #{deltype,jdbcType=VARCHAR},
      </if>
      <if test="standby != null" >
        standby = #{standby,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where bpbid = #{bpbid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.factory.entity.BlitemPrimaryBill" >
    update blitem_primary_bill
    set bpbDate = #{bpbdate,jdbcType=DATE},
      warehouseid = #{warehouseid,jdbcType=VARCHAR},
      inventoryChecker = #{inventorychecker,jdbcType=VARCHAR},
      documentMaker = #{documentmaker,jdbcType=VARCHAR},
      verifier = #{verifier,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR},
      examineType = #{examinetype,jdbcType=VARCHAR},
      delType = #{deltype,jdbcType=VARCHAR},
      standby = #{standby,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where bpbid = #{bpbid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.factory.entity.BlitemPrimaryBill" >
    update blitem_primary_bill
    set bpbDate = #{bpbdate,jdbcType=DATE},
      warehouseid = #{warehouseid,jdbcType=VARCHAR},
      inventoryChecker = #{inventorychecker,jdbcType=VARCHAR},
      documentMaker = #{documentmaker,jdbcType=VARCHAR},
      verifier = #{verifier,jdbcType=VARCHAR},
      custom1 = #{custom1,jdbcType=VARCHAR},
      custom2 = #{custom2,jdbcType=VARCHAR},
      examineType = #{examinetype,jdbcType=VARCHAR},
      delType = #{deltype,jdbcType=VARCHAR},
      standby = #{standby,jdbcType=VARCHAR}
    where bpbid = #{bpbid,jdbcType=VARCHAR}
  </update>
</mapper>