<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.factory.mapper.SaleOrderMapper" >
  <resultMap id="BaseResultMap" type="com.factory.entity.SaleOrder" >
    <id column="so_id" property="soId" jdbcType="INTEGER" />
    <result column="customerorder_id" property="customerorderId" jdbcType="VARCHAR" />
    <result column="so_document_time" property="soDocumentTime" jdbcType="DATE" />
    <result column="so_documentnumber" property="soDocumentnumber" jdbcType="VARCHAR" />
    <result column="so_delivery_address" property="soDeliveryAddress" jdbcType="VARCHAR" />
    <result column="sot_id" property="sotId" jdbcType="VARCHAR" />
    <result column="so_customerorder" property="soCustomerorder" jdbcType="VARCHAR" />
    <result column="so_tax" property="soTax" jdbcType="INTEGER" />
    <result column="currency_id" property="currencyId" jdbcType="VARCHAR" />
    <result column="so_oder_static" property="soOderStatic" jdbcType="INTEGER" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="team_id" property="teamId" jdbcType="VARCHAR" />
    <result column="so_monograph" property="soMonograph" jdbcType="VARCHAR" />
    <result column="so_reviewer" property="soReviewer" jdbcType="VARCHAR" />
    <result column="so_subordinate" property="soSubordinate" jdbcType="VARCHAR" />
    <result column="so_watchword" property="soWatchword" jdbcType="VARCHAR" />
    <result column="so_tailclause" property="soTailclause" jdbcType="VARCHAR" />
    <result column="so_remark" property="soRemark" jdbcType="VARCHAR" />
    <result column="so_account_ownership" property="soAccountOwnership" jdbcType="VARCHAR" />
    <result column="so_collection_time" property="soCollectionTime" jdbcType="VARCHAR" />
    <result column="so_collection_month" property="soCollectionMonth" jdbcType="VARCHAR" />
    <result column="so_collection_terms" property="soCollectionTerms" jdbcType="VARCHAR" />
    <result column="so_collection_terms_day" property="soCollectionTermsDay" jdbcType="VARCHAR" />
    <result column="so_auditing" property="soAuditing" jdbcType="VARCHAR" />
    <result column="so_yn" property="soYn" jdbcType="VARCHAR" />
    <result column="so_custom1" property="soCustom1" jdbcType="VARCHAR" />
    <result column="so_custom2" property="soCustom2" jdbcType="VARCHAR" />
    <result column="so_custom3" property="soCustom3" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="PageQueryAll" resultMap="BaseResultMap">
  			select * from sale_order
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Integer">
  			delete from sale_order
    where so_id = #{0}
  </delete>
  
  <select id="queryPSDocumentNumber" parameterType="java.lang.String" resultType="java.lang.Integer" >
  	SELECT COUNT(*) 
	FROM `sale_order` 
	WHERE `so_document_time` LIKE #{documentdate}
  </select>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    so_id, customerorder_id, so_document_time, so_documentnumber, so_delivery_address, 
    sot_id, so_customerorder, so_tax, currency_id, so_oder_static, staff_id, team_id, 
    so_monograph, so_reviewer, so_subordinate, so_watchword, so_tailclause, so_remark, 
    so_account_ownership, so_collection_time, so_collection_month, so_collection_terms, 
    so_collection_terms_day, so_auditing, so_yn, so_custom1, so_custom2, so_custom3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.factory.entity.SaleOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sale_order
    where so_id = #{soId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sale_order
    where so_id = #{soId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.factory.entity.SaleOrderExample" >
    delete from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.factory.entity.SaleOrder" >
    insert into sale_order ( customerorder_id, so_document_time, 
      so_documentnumber, so_delivery_address, sot_id, 
      so_customerorder, so_tax, currency_id, 
      so_oder_static, staff_id, team_id, 
      so_monograph, so_reviewer, so_subordinate, 
      so_watchword, so_tailclause, so_remark, 
      so_account_ownership, so_collection_time, so_collection_month, 
      so_collection_terms, so_collection_terms_day, 
      so_auditing, so_yn, so_custom1, 
      so_custom2, so_custom3)
    values (#{customerorderId,jdbcType=VARCHAR}, #{soDocumentTime,jdbcType=DATE}, 
      #{soDocumentnumber,jdbcType=VARCHAR}, #{soDeliveryAddress,jdbcType=VARCHAR}, #{sotId,jdbcType=VARCHAR}, 
      #{soCustomerorder,jdbcType=VARCHAR}, #{soTax,jdbcType=INTEGER}, #{currencyId,jdbcType=VARCHAR}, 
      #{soOderStatic,jdbcType=INTEGER}, #{staffId,jdbcType=VARCHAR}, #{teamId,jdbcType=VARCHAR}, 
      #{soMonograph,jdbcType=VARCHAR}, #{soReviewer,jdbcType=VARCHAR}, #{soSubordinate,jdbcType=VARCHAR}, 
      #{soWatchword,jdbcType=VARCHAR}, #{soTailclause,jdbcType=VARCHAR}, #{soRemark,jdbcType=VARCHAR}, 
      #{soAccountOwnership,jdbcType=VARCHAR}, #{soCollectionTime,jdbcType=VARCHAR}, #{soCollectionMonth,jdbcType=VARCHAR}, 
      #{soCollectionTerms,jdbcType=VARCHAR}, #{soCollectionTermsDay,jdbcType=VARCHAR}, 
      #{soAuditing,jdbcType=VARCHAR}, #{soYn,jdbcType=VARCHAR}, #{soCustom1,jdbcType=VARCHAR}, 
      #{soCustom2,jdbcType=VARCHAR}, #{soCustom3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.factory.entity.SaleOrder" >
    insert into sale_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="soId != null" >
        so_id,
      </if>
      <if test="customerorderId != null" >
        customerorder_id,
      </if>
      <if test="soDocumentTime != null" >
        so_document_time,
      </if>
      <if test="soDocumentnumber != null" >
        so_documentnumber,
      </if>
      <if test="soDeliveryAddress != null" >
        so_delivery_address,
      </if>
      <if test="sotId != null" >
        sot_id,
      </if>
      <if test="soCustomerorder != null" >
        so_customerorder,
      </if>
      <if test="soTax != null" >
        so_tax,
      </if>
      <if test="currencyId != null" >
        currency_id,
      </if>
      <if test="soOderStatic != null" >
        so_oder_static,
      </if>
      <if test="staffId != null" >
        staff_id,
      </if>
      <if test="teamId != null" >
        team_id,
      </if>
      <if test="soMonograph != null" >
        so_monograph,
      </if>
      <if test="soReviewer != null" >
        so_reviewer,
      </if>
      <if test="soSubordinate != null" >
        so_subordinate,
      </if>
      <if test="soWatchword != null" >
        so_watchword,
      </if>
      <if test="soTailclause != null" >
        so_tailclause,
      </if>
      <if test="soRemark != null" >
        so_remark,
      </if>
      <if test="soAccountOwnership != null" >
        so_account_ownership,
      </if>
      <if test="soCollectionTime != null" >
        so_collection_time,
      </if>
      <if test="soCollectionMonth != null" >
        so_collection_month,
      </if>
      <if test="soCollectionTerms != null" >
        so_collection_terms,
      </if>
      <if test="soCollectionTermsDay != null" >
        so_collection_terms_day,
      </if>
      <if test="soAuditing != null" >
        so_auditing,
      </if>
      <if test="soYn != null" >
        so_yn,
      </if>
      <if test="soCustom1 != null" >
        so_custom1,
      </if>
      <if test="soCustom2 != null" >
        so_custom2,
      </if>
      <if test="soCustom3 != null" >
        so_custom3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="soId != null" >
        #{soId,jdbcType=INTEGER},
      </if>
      <if test="customerorderId != null" >
        #{customerorderId,jdbcType=VARCHAR},
      </if>
      <if test="soDocumentTime != null" >
        #{soDocumentTime,jdbcType=DATE},
      </if>
      <if test="soDocumentnumber != null" >
        #{soDocumentnumber,jdbcType=VARCHAR},
      </if>
      <if test="soDeliveryAddress != null" >
        #{soDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sotId != null" >
        #{sotId,jdbcType=VARCHAR},
      </if>
      <if test="soCustomerorder != null" >
        #{soCustomerorder,jdbcType=VARCHAR},
      </if>
      <if test="soTax != null" >
        #{soTax,jdbcType=INTEGER},
      </if>
      <if test="currencyId != null" >
        #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="soOderStatic != null" >
        #{soOderStatic,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="soMonograph != null" >
        #{soMonograph,jdbcType=VARCHAR},
      </if>
      <if test="soReviewer != null" >
        #{soReviewer,jdbcType=VARCHAR},
      </if>
      <if test="soSubordinate != null" >
        #{soSubordinate,jdbcType=VARCHAR},
      </if>
      <if test="soWatchword != null" >
        #{soWatchword,jdbcType=VARCHAR},
      </if>
      <if test="soTailclause != null" >
        #{soTailclause,jdbcType=VARCHAR},
      </if>
      <if test="soRemark != null" >
        #{soRemark,jdbcType=VARCHAR},
      </if>
      <if test="soAccountOwnership != null" >
        #{soAccountOwnership,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTime != null" >
        #{soCollectionTime,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionMonth != null" >
        #{soCollectionMonth,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTerms != null" >
        #{soCollectionTerms,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTermsDay != null" >
        #{soCollectionTermsDay,jdbcType=VARCHAR},
      </if>
      <if test="soAuditing != null" >
        #{soAuditing,jdbcType=VARCHAR},
      </if>
      <if test="soYn != null" >
        #{soYn,jdbcType=VARCHAR},
      </if>
      <if test="soCustom1 != null" >
        #{soCustom1,jdbcType=VARCHAR},
      </if>
      <if test="soCustom2 != null" >
        #{soCustom2,jdbcType=VARCHAR},
      </if>
      <if test="soCustom3 != null" >
        #{soCustom3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.factory.entity.SaleOrderExample" resultType="java.lang.Integer" >
    select count(*) from sale_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sale_order
    <set >
      <if test="record.soId != null" >
        so_id = #{record.soId,jdbcType=INTEGER},
      </if>
      <if test="record.customerorderId != null" >
        customerorder_id = #{record.customerorderId,jdbcType=VARCHAR},
      </if>
      <if test="record.soDocumentTime != null" >
        so_document_time = #{record.soDocumentTime,jdbcType=DATE},
      </if>
      <if test="record.soDocumentnumber != null" >
        so_documentnumber = #{record.soDocumentnumber,jdbcType=VARCHAR},
      </if>
      <if test="record.soDeliveryAddress != null" >
        so_delivery_address = #{record.soDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.sotId != null" >
        sot_id = #{record.sotId,jdbcType=VARCHAR},
      </if>
      <if test="record.soCustomerorder != null" >
        so_customerorder = #{record.soCustomerorder,jdbcType=VARCHAR},
      </if>
      <if test="record.soTax != null" >
        so_tax = #{record.soTax,jdbcType=INTEGER},
      </if>
      <if test="record.currencyId != null" >
        currency_id = #{record.currencyId,jdbcType=VARCHAR},
      </if>
      <if test="record.soOderStatic != null" >
        so_oder_static = #{record.soOderStatic,jdbcType=INTEGER},
      </if>
      <if test="record.staffId != null" >
        staff_id = #{record.staffId,jdbcType=VARCHAR},
      </if>
      <if test="record.teamId != null" >
        team_id = #{record.teamId,jdbcType=VARCHAR},
      </if>
      <if test="record.soMonograph != null" >
        so_monograph = #{record.soMonograph,jdbcType=VARCHAR},
      </if>
      <if test="record.soReviewer != null" >
        so_reviewer = #{record.soReviewer,jdbcType=VARCHAR},
      </if>
      <if test="record.soSubordinate != null" >
        so_subordinate = #{record.soSubordinate,jdbcType=VARCHAR},
      </if>
      <if test="record.soWatchword != null" >
        so_watchword = #{record.soWatchword,jdbcType=VARCHAR},
      </if>
      <if test="record.soTailclause != null" >
        so_tailclause = #{record.soTailclause,jdbcType=VARCHAR},
      </if>
      <if test="record.soRemark != null" >
        so_remark = #{record.soRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.soAccountOwnership != null" >
        so_account_ownership = #{record.soAccountOwnership,jdbcType=VARCHAR},
      </if>
      <if test="record.soCollectionTime != null" >
        so_collection_time = #{record.soCollectionTime,jdbcType=VARCHAR},
      </if>
      <if test="record.soCollectionMonth != null" >
        so_collection_month = #{record.soCollectionMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.soCollectionTerms != null" >
        so_collection_terms = #{record.soCollectionTerms,jdbcType=VARCHAR},
      </if>
      <if test="record.soCollectionTermsDay != null" >
        so_collection_terms_day = #{record.soCollectionTermsDay,jdbcType=VARCHAR},
      </if>
      <if test="record.soAuditing != null" >
        so_auditing = #{record.soAuditing,jdbcType=VARCHAR},
      </if>
      <if test="record.soYn != null" >
        so_yn = #{record.soYn,jdbcType=VARCHAR},
      </if>
      <if test="record.soCustom1 != null" >
        so_custom1 = #{record.soCustom1,jdbcType=VARCHAR},
      </if>
      <if test="record.soCustom2 != null" >
        so_custom2 = #{record.soCustom2,jdbcType=VARCHAR},
      </if>
      <if test="record.soCustom3 != null" >
        so_custom3 = #{record.soCustom3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sale_order
    set so_id = #{record.soId,jdbcType=INTEGER},
      customerorder_id = #{record.customerorderId,jdbcType=VARCHAR},
      so_document_time = #{record.soDocumentTime,jdbcType=DATE},
      so_documentnumber = #{record.soDocumentnumber,jdbcType=VARCHAR},
      so_delivery_address = #{record.soDeliveryAddress,jdbcType=VARCHAR},
      sot_id = #{record.sotId,jdbcType=VARCHAR},
      so_customerorder = #{record.soCustomerorder,jdbcType=VARCHAR},
      so_tax = #{record.soTax,jdbcType=INTEGER},
      currency_id = #{record.currencyId,jdbcType=VARCHAR},
      so_oder_static = #{record.soOderStatic,jdbcType=INTEGER},
      staff_id = #{record.staffId,jdbcType=VARCHAR},
      team_id = #{record.teamId,jdbcType=VARCHAR},
      so_monograph = #{record.soMonograph,jdbcType=VARCHAR},
      so_reviewer = #{record.soReviewer,jdbcType=VARCHAR},
      so_subordinate = #{record.soSubordinate,jdbcType=VARCHAR},
      so_watchword = #{record.soWatchword,jdbcType=VARCHAR},
      so_tailclause = #{record.soTailclause,jdbcType=VARCHAR},
      so_remark = #{record.soRemark,jdbcType=VARCHAR},
      so_account_ownership = #{record.soAccountOwnership,jdbcType=VARCHAR},
      so_collection_time = #{record.soCollectionTime,jdbcType=VARCHAR},
      so_collection_month = #{record.soCollectionMonth,jdbcType=VARCHAR},
      so_collection_terms = #{record.soCollectionTerms,jdbcType=VARCHAR},
      so_collection_terms_day = #{record.soCollectionTermsDay,jdbcType=VARCHAR},
      so_auditing = #{record.soAuditing,jdbcType=VARCHAR},
      so_yn = #{record.soYn,jdbcType=VARCHAR},
      so_custom1 = #{record.soCustom1,jdbcType=VARCHAR},
      so_custom2 = #{record.soCustom2,jdbcType=VARCHAR},
      so_custom3 = #{record.soCustom3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.factory.entity.SaleOrder" >
    update sale_order
    <set >
      <if test="customerorderId != null" >
        customerorder_id = #{customerorderId,jdbcType=VARCHAR},
      </if>
      <if test="soDocumentTime != null" >
        so_document_time = #{soDocumentTime,jdbcType=DATE},
      </if>
      <if test="soDocumentnumber != null" >
        so_documentnumber = #{soDocumentnumber,jdbcType=VARCHAR},
      </if>
      <if test="soDeliveryAddress != null" >
        so_delivery_address = #{soDeliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="sotId != null" >
        sot_id = #{sotId,jdbcType=VARCHAR},
      </if>
      <if test="soCustomerorder != null" >
        so_customerorder = #{soCustomerorder,jdbcType=VARCHAR},
      </if>
      <if test="soTax != null" >
        so_tax = #{soTax,jdbcType=INTEGER},
      </if>
      <if test="currencyId != null" >
        currency_id = #{currencyId,jdbcType=VARCHAR},
      </if>
      <if test="soOderStatic != null" >
        so_oder_static = #{soOderStatic,jdbcType=INTEGER},
      </if>
      <if test="staffId != null" >
        staff_id = #{staffId,jdbcType=VARCHAR},
      </if>
      <if test="teamId != null" >
        team_id = #{teamId,jdbcType=VARCHAR},
      </if>
      <if test="soMonograph != null" >
        so_monograph = #{soMonograph,jdbcType=VARCHAR},
      </if>
      <if test="soReviewer != null" >
        so_reviewer = #{soReviewer,jdbcType=VARCHAR},
      </if>
      <if test="soSubordinate != null" >
        so_subordinate = #{soSubordinate,jdbcType=VARCHAR},
      </if>
      <if test="soWatchword != null" >
        so_watchword = #{soWatchword,jdbcType=VARCHAR},
      </if>
      <if test="soTailclause != null" >
        so_tailclause = #{soTailclause,jdbcType=VARCHAR},
      </if>
      <if test="soRemark != null" >
        so_remark = #{soRemark,jdbcType=VARCHAR},
      </if>
      <if test="soAccountOwnership != null" >
        so_account_ownership = #{soAccountOwnership,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTime != null" >
        so_collection_time = #{soCollectionTime,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionMonth != null" >
        so_collection_month = #{soCollectionMonth,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTerms != null" >
        so_collection_terms = #{soCollectionTerms,jdbcType=VARCHAR},
      </if>
      <if test="soCollectionTermsDay != null" >
        so_collection_terms_day = #{soCollectionTermsDay,jdbcType=VARCHAR},
      </if>
      <if test="soAuditing != null" >
        so_auditing = #{soAuditing,jdbcType=VARCHAR},
      </if>
      <if test="soYn != null" >
        so_yn = #{soYn,jdbcType=VARCHAR},
      </if>
      <if test="soCustom1 != null" >
        so_custom1 = #{soCustom1,jdbcType=VARCHAR},
      </if>
      <if test="soCustom2 != null" >
        so_custom2 = #{soCustom2,jdbcType=VARCHAR},
      </if>
      <if test="soCustom3 != null" >
        so_custom3 = #{soCustom3,jdbcType=VARCHAR},
      </if>
    </set>
    where so_id = #{soId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.factory.entity.SaleOrder" >
    update sale_order
    set customerorder_id = #{customerorderId,jdbcType=VARCHAR},
      so_document_time = #{soDocumentTime,jdbcType=DATE},
      so_documentnumber = #{soDocumentnumber,jdbcType=VARCHAR},
      so_delivery_address = #{soDeliveryAddress,jdbcType=VARCHAR},
      sot_id = #{sotId,jdbcType=VARCHAR},
      so_customerorder = #{soCustomerorder,jdbcType=VARCHAR},
      so_tax = #{soTax,jdbcType=INTEGER},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      so_oder_static = #{soOderStatic,jdbcType=INTEGER},
      staff_id = #{staffId,jdbcType=VARCHAR},
      team_id = #{teamId,jdbcType=VARCHAR},
      so_monograph = #{soMonograph,jdbcType=VARCHAR},
      so_reviewer = #{soReviewer,jdbcType=VARCHAR},
      so_subordinate = #{soSubordinate,jdbcType=VARCHAR},
      so_watchword = #{soWatchword,jdbcType=VARCHAR},
      so_tailclause = #{soTailclause,jdbcType=VARCHAR},
      so_remark = #{soRemark,jdbcType=VARCHAR},
      so_account_ownership = #{soAccountOwnership,jdbcType=VARCHAR},
      so_collection_time = #{soCollectionTime,jdbcType=VARCHAR},
      so_collection_month = #{soCollectionMonth,jdbcType=VARCHAR},
      so_collection_terms = #{soCollectionTerms,jdbcType=VARCHAR},
      so_collection_terms_day = #{soCollectionTermsDay,jdbcType=VARCHAR},
      so_auditing = #{soAuditing,jdbcType=VARCHAR},
      so_yn = #{soYn,jdbcType=VARCHAR},
      so_custom1 = #{soCustom1,jdbcType=VARCHAR},
      so_custom2 = #{soCustom2,jdbcType=VARCHAR},
      so_custom3 = #{soCustom3,jdbcType=VARCHAR}
    where so_id = #{soId,jdbcType=INTEGER}
  </update>
  <update id="updateAll" parameterType="com.factory.entity.SaleOrder">
  			update sale_order
    set customerorder_id = #{customerorderId,jdbcType=VARCHAR},
      so_document_time = #{soDocumentTime,jdbcType=DATE},
      so_documentnumber = #{soDocumentnumber,jdbcType=VARCHAR},
      so_delivery_address = #{soDeliveryAddress,jdbcType=VARCHAR},
      sot_id = #{sotId,jdbcType=VARCHAR},
      so_customerorder = #{soCustomerorder,jdbcType=VARCHAR},
      so_tax = #{soTax,jdbcType=INTEGER},
      currency_id = #{currencyId,jdbcType=VARCHAR},
      so_oder_static = #{soOderStatic,jdbcType=INTEGER},
      staff_id = #{staffId,jdbcType=VARCHAR},
      team_id = #{teamId,jdbcType=VARCHAR},
      so_monograph = #{soMonograph,jdbcType=VARCHAR},
      so_reviewer = #{soReviewer,jdbcType=VARCHAR},
      so_subordinate = #{soSubordinate,jdbcType=VARCHAR},
      so_watchword = #{soWatchword,jdbcType=VARCHAR},
      so_tailclause = #{soTailclause,jdbcType=VARCHAR},
      so_remark = #{soRemark,jdbcType=VARCHAR},
      so_account_ownership = #{soAccountOwnership,jdbcType=VARCHAR},
      so_collection_time = #{soCollectionTime,jdbcType=VARCHAR},
      so_collection_month = #{soCollectionMonth,jdbcType=VARCHAR},
      so_collection_terms = #{soCollectionTerms,jdbcType=VARCHAR},
      so_collection_terms_day = #{soCollectionTermsDay,jdbcType=VARCHAR},
      so_auditing = #{soAuditing,jdbcType=VARCHAR},
      so_yn = #{soYn,jdbcType=VARCHAR},
      so_custom1 = #{soCustom1,jdbcType=VARCHAR},
      so_custom2 = #{soCustom2,jdbcType=VARCHAR},
      so_custom3 = #{soCustom3,jdbcType=VARCHAR}
    where so_id = #{soId,jdbcType=INTEGER}
  </update>
</mapper>