<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.factory.mapper.TPurchaseInquiryMapper" >
  <resultMap id="BaseResultMap" type="com.factory.entity.TPurchaseInquiry" >
    <id column="BillNo" property="billno" jdbcType="VARCHAR" />
    <result column="BillDate" property="billdate" jdbcType="DATE" />
    <result column="CurrID" property="currid" jdbcType="INTEGER" />
    <result column="ExchRate" property="exchrate" jdbcType="REAL" />
    <result column="CustomerID" property="customerid" jdbcType="INTEGER" />
    <result column="AddressID" property="addressid" jdbcType="VARCHAR" />
    <result column="ValidDate" property="validdate" jdbcType="DATE" />
    <result column="PriceOfTax" property="priceoftax" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="OutAddress" property="outaddress" jdbcType="VARCHAR" />
    <result column="SalesName" property="salesname" jdbcType="VARCHAR" />
    <result column="DepartID" property="departid" jdbcType="VARCHAR" />
    <result column="Maker" property="maker" jdbcType="VARCHAR" />
    <result column="Permitter" property="permitter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    BillNo, BillDate, CurrID, ExchRate, CustomerID, AddressID, ValidDate, PriceOfTax, 
    Remark, OutAddress, SalesName, DepartID, Maker, Permitter
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.factory.entity.TPurchaseInquiryExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_purchase_inquiry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_purchase_inquiry
    where BillNo = #{billno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_purchase_inquiry
    where BillNo = #{billno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.factory.entity.TPurchaseInquiryExample" >
    delete from t_purchase_inquiry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.factory.entity.TPurchaseInquiry" >
    insert into t_purchase_inquiry (BillNo, BillDate, CurrID, 
      ExchRate, CustomerID, AddressID, 
      ValidDate, PriceOfTax, Remark, 
      OutAddress, SalesName, DepartID, 
      Maker, Permitter)
    values (#{billno,jdbcType=VARCHAR}, #{billdate,jdbcType=DATE}, #{currid,jdbcType=INTEGER}, 
      #{exchrate,jdbcType=REAL}, #{customerid,jdbcType=INTEGER}, #{addressid,jdbcType=VARCHAR}, 
      #{validdate,jdbcType=DATE}, #{priceoftax,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{outaddress,jdbcType=VARCHAR}, #{salesname,jdbcType=VARCHAR}, #{departid,jdbcType=VARCHAR}, 
      #{maker,jdbcType=VARCHAR}, #{permitter,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.factory.entity.TPurchaseInquiry" >
    insert into t_purchase_inquiry
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="billno != null" >
        BillNo,
      </if>
      <if test="billdate != null" >
        BillDate,
      </if>
      <if test="currid != null" >
        CurrID,
      </if>
      <if test="exchrate != null" >
        ExchRate,
      </if>
      <if test="customerid != null" >
        CustomerID,
      </if>
      <if test="addressid != null" >
        AddressID,
      </if>
      <if test="validdate != null" >
        ValidDate,
      </if>
      <if test="priceoftax != null" >
        PriceOfTax,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="outaddress != null" >
        OutAddress,
      </if>
      <if test="salesname != null" >
        SalesName,
      </if>
      <if test="departid != null" >
        DepartID,
      </if>
      <if test="maker != null" >
        Maker,
      </if>
      <if test="permitter != null" >
        Permitter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="billno != null" >
        #{billno,jdbcType=VARCHAR},
      </if>
      <if test="billdate != null" >
        #{billdate,jdbcType=DATE},
      </if>
      <if test="currid != null" >
        #{currid,jdbcType=INTEGER},
      </if>
      <if test="exchrate != null" >
        #{exchrate,jdbcType=REAL},
      </if>
      <if test="customerid != null" >
        #{customerid,jdbcType=INTEGER},
      </if>
      <if test="addressid != null" >
        #{addressid,jdbcType=VARCHAR},
      </if>
      <if test="validdate != null" >
        #{validdate,jdbcType=DATE},
      </if>
      <if test="priceoftax != null" >
        #{priceoftax,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outaddress != null" >
        #{outaddress,jdbcType=VARCHAR},
      </if>
      <if test="salesname != null" >
        #{salesname,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        #{departid,jdbcType=VARCHAR},
      </if>
      <if test="maker != null" >
        #{maker,jdbcType=VARCHAR},
      </if>
      <if test="permitter != null" >
        #{permitter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.factory.entity.TPurchaseInquiryExample" resultType="java.lang.Integer" >
    select count(*) from t_purchase_inquiry
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_purchase_inquiry
    <set >
      <if test="record.billno != null" >
        BillNo = #{record.billno,jdbcType=VARCHAR},
      </if>
      <if test="record.billdate != null" >
        BillDate = #{record.billdate,jdbcType=DATE},
      </if>
      <if test="record.currid != null" >
        CurrID = #{record.currid,jdbcType=INTEGER},
      </if>
      <if test="record.exchrate != null" >
        ExchRate = #{record.exchrate,jdbcType=REAL},
      </if>
      <if test="record.customerid != null" >
        CustomerID = #{record.customerid,jdbcType=INTEGER},
      </if>
      <if test="record.addressid != null" >
        AddressID = #{record.addressid,jdbcType=VARCHAR},
      </if>
      <if test="record.validdate != null" >
        ValidDate = #{record.validdate,jdbcType=DATE},
      </if>
      <if test="record.priceoftax != null" >
        PriceOfTax = #{record.priceoftax,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        Remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.outaddress != null" >
        OutAddress = #{record.outaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.salesname != null" >
        SalesName = #{record.salesname,jdbcType=VARCHAR},
      </if>
      <if test="record.departid != null" >
        DepartID = #{record.departid,jdbcType=VARCHAR},
      </if>
      <if test="record.maker != null" >
        Maker = #{record.maker,jdbcType=VARCHAR},
      </if>
      <if test="record.permitter != null" >
        Permitter = #{record.permitter,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_purchase_inquiry
    set BillNo = #{record.billno,jdbcType=VARCHAR},
      BillDate = #{record.billdate,jdbcType=DATE},
      CurrID = #{record.currid,jdbcType=INTEGER},
      ExchRate = #{record.exchrate,jdbcType=REAL},
      CustomerID = #{record.customerid,jdbcType=INTEGER},
      AddressID = #{record.addressid,jdbcType=VARCHAR},
      ValidDate = #{record.validdate,jdbcType=DATE},
      PriceOfTax = #{record.priceoftax,jdbcType=INTEGER},
      Remark = #{record.remark,jdbcType=VARCHAR},
      OutAddress = #{record.outaddress,jdbcType=VARCHAR},
      SalesName = #{record.salesname,jdbcType=VARCHAR},
      DepartID = #{record.departid,jdbcType=VARCHAR},
      Maker = #{record.maker,jdbcType=VARCHAR},
      Permitter = #{record.permitter,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.factory.entity.TPurchaseInquiry" >
    update t_purchase_inquiry
    <set >
      <if test="billdate != null" >
        BillDate = #{billdate,jdbcType=DATE},
      </if>
      <if test="currid != null" >
        CurrID = #{currid,jdbcType=INTEGER},
      </if>
      <if test="exchrate != null" >
        ExchRate = #{exchrate,jdbcType=REAL},
      </if>
      <if test="customerid != null" >
        CustomerID = #{customerid,jdbcType=INTEGER},
      </if>
      <if test="addressid != null" >
        AddressID = #{addressid,jdbcType=VARCHAR},
      </if>
      <if test="validdate != null" >
        ValidDate = #{validdate,jdbcType=DATE},
      </if>
      <if test="priceoftax != null" >
        PriceOfTax = #{priceoftax,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="outaddress != null" >
        OutAddress = #{outaddress,jdbcType=VARCHAR},
      </if>
      <if test="salesname != null" >
        SalesName = #{salesname,jdbcType=VARCHAR},
      </if>
      <if test="departid != null" >
        DepartID = #{departid,jdbcType=VARCHAR},
      </if>
      <if test="maker != null" >
        Maker = #{maker,jdbcType=VARCHAR},
      </if>
      <if test="permitter != null" >
        Permitter = #{permitter,jdbcType=VARCHAR},
      </if>
    </set>
    where BillNo = #{billno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.factory.entity.TPurchaseInquiry" >
    update t_purchase_inquiry
    set BillDate = #{billdate,jdbcType=DATE},
      CurrID = #{currid,jdbcType=INTEGER},
      ExchRate = #{exchrate,jdbcType=REAL},
      CustomerID = #{customerid,jdbcType=INTEGER},
      AddressID = #{addressid,jdbcType=VARCHAR},
      ValidDate = #{validdate,jdbcType=DATE},
      PriceOfTax = #{priceoftax,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      OutAddress = #{outaddress,jdbcType=VARCHAR},
      SalesName = #{salesname,jdbcType=VARCHAR},
      DepartID = #{departid,jdbcType=VARCHAR},
      Maker = #{maker,jdbcType=VARCHAR},
      Permitter = #{permitter,jdbcType=VARCHAR}
    where BillNo = #{billno,jdbcType=VARCHAR}
  </update>
</mapper>